**PRE-PROCESSING DATA MOVIE SAMPLE DATASET**

**PUTRI INDO NAGARI / 4111422072**

**Importing Data:**

In [5]:
import pandas as pd

df = pd.read_csv('/content/movie_sample_dataset.csv')
print(df.head(50))

               color         director_name  duration        gross  \
0              Color       Martin Scorsese       240  116866727.0
1              Color           Shane Black       195  408992272.0
2             color      Quentin Tarantino       187   54116191.0
3              Color      Kenneth Lonergan       186      46495.0
4              Color         Peter Jackson       186  258355354.0
5                NaN                   NaN       183  330249062.0
6              Color         Peter Jackson       -50  303001229.0
7              Color           Edward Hall       180          NaN
8              Color           Joss Whedon       173  623279547.0
9              Color           Joss Whedon       173  623279547.0
10               NaN            Tom Tykwer       172   27098580.0
11             Color                  Null       158  102515793.0
12             Color   Christopher Spencer       170   59696176.0
13             Color     Christopher Nolan       169  187991439.0
14             Color          F. Gary Gray       167  161029270.0
15               NaN     Richard Linklater       165   25359200.0
16             Color     Quentin Tarantino       580  162804648.0
17             Color           Michael Bay       165  245428137.0
18               NaN     Christopher Nolan       164  448130642.0
19             Color         Peter Jackson       164  255108370.0
20             Color            Tom Hooper       158  148775460.0
21             Color            Tom Hooper       158  148775460.0
22             Color       Kathryn Bigelow       157   95720716.0
23             Color          Ridley Scott       156  105219735.0
24             Color                   NaN       156  183635922.0
25             Color           Michael Bay       154  352358779.0
26             Color      Denis Villeneuve       153   60962878.0
27             Color     Gnana Rajasekaran       153          NaN
28             Color             Marc Webb       153  262030663.0
29             Color                   Nan       151  228430993.0
30             Color          Ridley Scott       150   65007045.0
31             Color          Ridley Scott       150   65007045.0
32             Color                   NaN       150  182204440.0
33             Color            Mike Leigh       150    3958500.0
34             Color        Gore Verbinski       650   89289910.0
35             Color         David Fincher       149  167735396.0
36             Color          Bryan Singer       149  233914986.0
37             Color             Jay Oliva       148          NaN
38             Color     Christopher Nolan       148  292568851.0
39             Color  Paul Thomas Anderson       148    8093318.0
40             Color            Sam Mendes       148  200074175.0
41             Color                   NaN       147  407197282.0
42             Color  Michael Patrick King       146   95328937.0
43             Color           Tate Taylor       146  169705587.0
44             Color      Francis Lawrence       146  424645577.0
45   Black and White      Steven Spielberg       146   79883359.0
46             Color           Michael Bay       144   52822418.0
47             Color       Guillaume Canet       144      41229.0
48             Color  Paul Thomas Anderson       144   16377274.0
49             Color          Bryan Singer       144  154985087.0

                                      genres  \
0               Biography|Comedy|Crime|Drama
1                    Action|Adventure|Sci-Fi
2       Crime|Drama|Mystery|Thriller|Western
3                                      Drama
4                          Adventure|Fantasy
5                    Action|Adventure|Sci-Fi
6                          Adventure|Fantasy
7                              Drama|Romance
8                    Action|Adventure|Sci-Fi
9                    Action|Adventure|Sci-Fi
10                              Drama|Sci-Fi
11              Crime|Drama|Mystery|Thriller
12                                       NaN
13                    Adventure|Drama|Sci-Fi
14       Biography|Crime|Drama|History|Music
15                                     Drama
16                             Drama|Western
17                   Action|Adventure|Sci-Fi
18                           Action|Thriller
19                         Adventure|Fantasy
20                     Drama|Musical|Romance
21                     Drama|Musical|Romance
22                    Drama|History|Thriller
23            Action|Adventure|Drama|History
24          Adventure|Drama|Thriller|Western
25                   Action|Adventure|Sci-Fi
26              Crime|Drama|Mystery|Thriller
27                   Biography|Drama|History
28                  Action|Adventure|Fantasy
29                    Adventure|Drama|Sci-Fi
30                    Action|Adventure|Drama
31                    Action|Adventure|Drama
32               Biography|Drama|History|War
33                   Biography|Drama|History
34                  Action|Adventure|Western
35              Crime|Drama|Mystery|Thriller
36  Action|Adventure|Fantasy|Sci-Fi|Thriller
37    Action|Animation|Crime|Sci-Fi|Thriller
38          Action|Adventure|Sci-Fi|Thriller
39        Comedy|Crime|Drama|Mystery|Romance
40                 Action|Adventure|Thriller
41                   Action|Adventure|Sci-Fi
42                      Comedy|Drama|Romance
43                                     Drama
44                 Adventure|Sci-Fi|Thriller
45                                 Drama|War
46                 Action|Drama|Thriller|War
47                      Crime|Drama|Thriller
48                                     Drama
49                   Action|Adventure|Sci-Fi

                                  movie_title  title_year language  \
0                     The Wolf of Wall Street        2013  English
1                                  Iron Man 3        2013  English
2                           The Hateful Eight        2015  English
3                                    Margaret        2011  English
4         The Hobbit: The Desolation of Smaug        2013  English
5          Batman v Superman: Dawn of Justice         202  English
6           The Hobbit: An Unexpected Journey        2012  English
7                                    Restless        2012  English
8                                The Avengers        2012  English
9                                The Avengers        2012  English
10                                Cloud Atlas        2012  English
11            The Girl with the Dragon Tattoo        2011  English
12                                 Son of God        2014  English
13                               Interstellar        2014  English
14                     Straight Outta Compton        2015  English
15                                    Boyhood        2014  English
16                           Django Unchained        2012  English
17            Transformers: Age of Extinction        2014  English
18                      The Dark Knight Rises        2012  English
19  The Hobbit: The Battle of the Five Armies        2014  English
20                             Les Misérables        2012  English
21                             Les Misérables        2012  English
22                           Zero Dark Thirty        2012  English
23                                 Robin Hood        2010  English
24                               The Revenant        2015  English
25             Transformers: Dark of the Moon        2011  English
26                                  Prisoners        2013  English
27                                  Ramanujan        2014  English
28                     The Amazing Spider-Man        2012  English
29                                The Martian        2015  English
30                     Exodus: Gods and Kings        2014  English
31                     Exodus: Gods and Kings        2014  English
32                                    Lincoln        2012  English
33                                 Mr. Turner        2014  English
34                            The Lone Ranger        2013  English
35                                  Gone Girl        2014  English
36                 X-Men: Days of Future Past        2014  English
37    Batman: The Dark Knight Returns, Part 2        2013  English
38                                  Inception        2010  English
39                              Inherent Vice        2014  English
40                                    Spectre        2015  English
41                 Captain America: Civil War        2016  English
42                         Sex and the City 2        2010  English
43                                   The Help        2011  English
44            The Hunger Games: Catching Fire        2013  English
45                                  War Horse        2011  English
46                                   13 Hours        2016  English
47                                 Blood Ties        2013  English
48                                 The Master        2012  English
49                          X-Men: Apocalypse        2016  English

          country       budget  imdb_score  \
0             USA  100000000.0         8.2
1             USA  200000000.0         7.2
2             USA   44000000.0         7.9
3             usa   14000000.0         6.5
4             USA  225000000.0         7.9
5             USA  250000000.0         6.9
6             USA  180000000.0         7.9
7              UK          NaN         7.2
8             USA  220000000.0         8.1
9             USA  220000000.0         8.1
10        Germany  102000000.0        -7.5
11            USA   90000000.0         7.8
12            USA   22000000.0         5.6
13            USA  165000000.0         8.6
14            USA   28000000.0         7.9
15            USA    4000000.0         8.0
16            USA  100000000.0         8.5
17            USA  210000000.0         5.7
18            USA  250000000.0         8.5
19    New Zealand  250000000.0         7.5
20            USA   61000000.0         7.6
21            USA   61000000.0         7.6
22            USA   40000000.0         7.4
23            USA  200000000.0         6.7
24            USA  135000000.0         8.1
25            USA  195000000.0         6.3
26            USA   46000000.0         8.1
27          India          NaN         7.0
28            USA  230000000.0         7.0
29            USA  108000000.0         8.1
30             UK  140000000.0         6.1
31             UK  140000000.0         6.1
32            USA   65000000.0         7.4
33             UK          NaN         6.8
34            USA  215000000.0         6.5
35            USA   61000000.0         8.1
36  United States  200000000.0         8.0
37            USA    3500000.0         8.4
38            USA  160000000.0         8.8
39            USA   20000000.0         6.7
40             UK  245000000.0         6.8
41            USA  250000000.0         8.2
42            USA  100000000.0         4.3
43            USA   25000000.0         8.1
44            USA  130000000.0         7.6
45            usa   66000000.0         7.2
46            USA   50000000.0         7.4
47         France   25500000.0         6.5
48            USA   32000000.0         7.1
49            USA  178000000.0         7.3

                                               actors  movie_facebook_likes
0   Leonardo DiCaprio,Matthew McConaughey,Jon Favreau                138000
1           Robert Downey Jr.,Jon Favreau,Don Cheadle                 95000
2           Craig Stark,Jennifer Jason Leigh,Zoë Bell                114000
3         Matt Damon,Kieran Culkin,John Gallagher Jr.                     0
4               Aidan Turner,Adam Brown,James Nesbitt                 83000
5            Henry Cavill,Lauren Cohan,Alan D. Purwin                197000
6               Aidan Turner,Adam Brown,James Nesbitt                166000
7       Rufus Sewell,Hayley Atwell,Charlotte Rampling                   434
8   Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...                123000
9   Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...                123000
10               Tom Hanks,Jim Sturgess,Jim Broadbent                124000
11        Robin Wright,Goran Visnjic,Joely Richardson                 54000
12           Roma Downey,Amber Rose Revah,Darwin Shaw                 15000
13    Matthew McConaughey,Anne Hathaway,Mackenzie Foy                349000
14        Aldis Hodge,Neil Brown Jr.,R. Marcos Taylor                 76000
15     Ellar Coltrane,Lorelei Linklater,Libby Villari                 92000
16     Leonardo DiCaprio,Christoph Waltz,Ato Essandoh                199000
17            Bingbing Li,Sophia Myles,Kelsey Grammer                 56000
18      Tom Hardy,Christian Bale,Joseph Gordon-Levitt                164000
19              Aidan Turner,Adam Brown,James Nesbitt                 65000
20          Hugh Jackman,Eddie Redmayne,Anne Hathaway                144000
21          Hugh Jackman,Eddie Redmayne,Anne Hathaway                144000
22      Jennifer Ehle,Harold Perrineau,Parker Sawyers                 39000
23                Mark Addy,William Hurt,Scott Grimes                 17000
24             Leonardo DiCaprio,Tom Hardy,Lukas Haas                190000
25          Glenn Morshower,Lester Speight,Kevin Dunn                 46000
26        Hugh Jackman,Jake Gyllenhaal,Dylan Minnette                 86000
27         Mani Bharathi,Michael Lieber,Kevin McGowan                    58
28             Emma Stone,Andrew Garfield,Chris Zylka                 56000
29             Matt Damon,Donald Glover,Benedict Wong                153000
30       Christian Bale,María Valverde,Ben Mendelsohn                 51000
31       Christian Bale,María Valverde,Ben Mendelsohn                 51000
32     Joseph Gordon-Levitt,Hal Holbrook,Bruce McGill                 71000
33            Lesley Manville,Ruth Sheen,Karl Johnson                     0
34              Johnny Depp,Ruth Wilson,Tom Wilkinson                 48000
35          Patrick Fugit,Sela Ward,Emily Ratajkowski                146000
36      Jennifer Lawrence,Peter Dinklage,Hugh Jackman                 82000
37           Michael Emerson,Mark Valley,Grey Griffin                  5000
38   Leonardo DiCaprio,Tom Hardy,Joseph Gordon-Levitt                175000
39  Martin Dew,Katherine Waterston,Serena Scott Th...                 18000
40      Christoph Waltz,Rory Kinnear,Stephanie Sigman                 85000
41   Robert Downey Jr.,Scarlett Johansson,Chris Evans                 72000
42             Chris Noth,Liza Minnelli,Kristin Davis                     0
43          Emma Stone,Bryce Dallas Howard,Mike Vogel                 75000
44  Jennifer Lawrence,Josh Hutcherson,Sandra Ellis...                 82000
45    Jeremy Irvine,Benedict Cumberbatch,Eddie Marsan                 28000
46     Toby Stephens,James Badge Dale,David Costabile                 44000
47                Mila Kunis,Lili Taylor,Billy Crudup                     0
48     Mike Howard,Jeffrey W. Jenkins,Bruce Goodchild                 27000
49  Jennifer Lawrence,Michael Fassbender,Tye Sheridan                 54000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   color                 88 non-null     object
 1   director_name         88 non-null     object
 2   duration              99 non-null     int64
 3   gross                 91 non-null     float64
 4   genres                98 non-null     object
 5   movie_title           99 non-null     object
 6   title_year            99 non-null     int64
 7   language              99 non-null     object
 8   country               99 non-null     object
 9   budget                95 non-null     float64
 10  imdb_score            99 non-null     float64
 11  actors                99 non-null     object
 12  movie_facebook_likes  99 non-null     int64
dtypes: float64(3), int64(3), object(7)
memory usage: 10.2+ KB

Dari informasi di atas, didapatkan bahwa dataset tersebut mempunyai 99 baris dan 13 kolom.

Variabel yang ada pada dataset tersebut sebagai berikut:
1. color: menunjukkan apakah film tersebut berwarna atau hitam putih
2. director_name: nama sutradara film
3. duration: nama durasi film dalam menit
4. gross: pendapatan kotor yang diperoleh film di box office
5. genres: genre atau jenis film, dipisahkan dengan tanda '|'
6. movie_title: judul film
7. title_year: tahun film tersebut dirilis
8. language: bahasa utama yang digunakan dalam film
9. country: negara tempat film tersebut diproduksi
10. budget: anggaran produksi film
11. imdb_score: penilaian film di IMDb dalam skala 1 sampai 10
12. actors: nama beberapa aktor utama yang berperan dalam film
13. movie_facebook_likes: jumlah suka (likes) pada halaman Facebook resmi film tersebut

Dataset ini memuat berbagai informasi mengenai film. Setiap baris data merepresentasikan satu judul film, sedangkan kolom-kolomnya berisi atribut serta indikator yang terkait dengan film tersebut. Informasi yang disajikan mencakup aspek produksi seperti nama sutradara, anggaran biaya, dan negara asal produksi. Dataset ini juga memuat indikator penerimaan publik terhadap film. Hal tersebut tercermin melalui pendapatan kotor, skor penilaian pada IMDb, dan jumlah likes pada halaman resmi Facebook film tersebut.

Sintaks berikut bertujuan untuk mengecek nilai yang kosong (null) dan data yang ganda (duplicate values).

In [9]:
import numpy as np

# ganti "Null" with NaN
df.replace("Null", np.nan, inplace = True)
df.replace("N/A", np.nan, inplace=True)
df.replace("NaN", np.nan, inplace=True)
# Cek missing value
print(df.isnull().sum())

color                   11
director_name           12
duration                 0
gross                    8
genres                   1
movie_title              0
title_year               0
language                 0
country                  0
budget                   4
imdb_score               0
actors                   0
movie_facebook_likes     0
dtype: int64

Dari informasi di atas terdapat 11 null values pada color, 12 null values pada director_name, 8 null values pada gross, 1 null value pada genres, dan 4 null values pada budget. Perlu diperhatikan bahwa variabel-variabel tersebut memiliki tipe data yang berbeda, sehingga diperlukan metode yang berbeda pula untuk menangani missing value.

In [8]:
# Cek baris duplikat
duplicate_rows = df[df.duplicated(keep=False)]
print(duplicate_rows)
print("Number of duplicate : ", df.duplicated().sum())

    color      director_name  duration        gross  \
8   Color        Joss Whedon       173  623279547.0
9   Color        Joss Whedon       173  623279547.0
20  Color         Tom Hooper       158  148775460.0
21  Color         Tom Hooper       158  148775460.0
30  Color       Ridley Scott       150   65007045.0
31  Color       Ridley Scott       150   65007045.0
52  Color         Sam Mendes       143  304360277.0
53  Color         Sam Mendes       143  304360277.0
54  Color       Baz Luhrmann       143  144812796.0
55  Color       Baz Luhrmann       143  144812796.0
61  Color  Timur Bekmambetov       141          NaN
63  Color  Timur Bekmambetov       141          NaN

                       genres             movie_title  title_year language  \
8     Action|Adventure|Sci-Fi            The Avengers        2012  English
9     Action|Adventure|Sci-Fi            The Avengers        2012  English
20      Drama|Musical|Romance          Les Misérables        2012  English
21      Drama|Musical|Romance          Les Misérables        2012  English
30     Action|Adventure|Drama  Exodus: Gods and Kings        2014  English
31     Action|Adventure|Drama  Exodus: Gods and Kings        2014  English
52  Action|Adventure|Thriller                 Skyfall        2012  English
53  Action|Adventure|Thriller                 Skyfall        2012  English
54              Drama|Romance        The Great Gatsby        2013  English
55              Drama|Romance        The Great Gatsby        2013  English
61    Adventure|Drama|History                 Ben-Hur        2016  English
63    Adventure|Drama|History                 Ben-Hur        2016  English

      country       budget  imdb_score  \
8         USA  220000000.0         8.1
9         USA  220000000.0         8.1
20        USA   61000000.0         7.6
21        USA   61000000.0         7.6
30         UK  140000000.0         6.1
31         UK  140000000.0         6.1
52         UK  200000000.0         7.8
53         UK  200000000.0         7.8
54  Australia  105000000.0         7.3
55  Australia  105000000.0         7.3
61        USA  100000000.0         6.1
63        USA  100000000.0         6.1

                                               actors  movie_facebook_likes
8   Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...                123000
9   Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...                123000
20          Hugh Jackman,Eddie Redmayne,Anne Hathaway                144000
21          Hugh Jackman,Eddie Redmayne,Anne Hathaway                144000
30       Christian Bale,María Valverde,Ben Mendelsohn                 51000
31       Christian Bale,María Valverde,Ben Mendelsohn                 51000
52           Albert Finney,Helen McCrory,Rory Kinnear                 80000
53           Albert Finney,Helen McCrory,Rory Kinnear                 80000
54   Leonardo DiCaprio,Elizabeth Debicki,Steve Bisley                115000
55   Leonardo DiCaprio,Elizabeth Debicki,Steve Bisley                115000
61           Morgan Freeman,Ayelet Zurer,Moises Arias                     0
63           Morgan Freeman,Ayelet Zurer,Moises Arias                     0
Number of duplicate :  6

Dari informasi di atas terdapat sekitar 2 baris data yang sama dalam 12 baris. Sehingga terdapat 6 baris yang merupakan duplikat. Pada bagian Data Cleaning, baris-baris duplikat tersebut akan dihapus dan hanya baris unik yang akan dipertahankan.

**DATA CLEANING**



1.   Menghapus nilai null pada kolom gross dan budget karena keduanya merupakan kolom yang penting.
2.   Menghapus data duplikat dan hanya menyisakan data yang unik.
3. Mengisi nilai null pada kolom color dengan modus.
4. Mengisi nilai null pada kolom director_name dengan keterangan "Unknown".
5. Mengisi nilai null pada kolom genres dengan "None".
6. Memperbaiki nilai negatif pada kolom imbd_score menggunakan fungsi absolute value.
7. Memperbaiki data tidak valid pada kolom duration, misalnya durasi yang lebih dari 600 menit atau kurang dari 10 menit dengan cara menggantinya menggunakan nilai median.

In [11]:
# Menghapus baris yang memiliki null pada kolom gross dan budget
df.dropna(subset=['gross', 'budget'], inplace=True)

In [10]:
# Menghapus duplikat dan menyisakan satu baris unik
df.drop_duplicates(inplace=True)

In [ ]:
# Mengisi null pada 'color' dengan modus
df['color'].fillna(df['color'].mode()[0], inplace=True)

/tmp/ipython-input-424390213.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['color'].fillna(df['color'].mode()[0], inplace=True)

In [12]:
# Mengisi null pada 'director_name' dengan "Unknown"
df['director_name'].fillna('Unknown', inplace=True)

/tmp/ipython-input-3005930882.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['director_name'].fillna('Unknown', inplace=True)

In [14]:
# Mengisi null pada 'genres' dengan 'None'
df['genres'].fillna('None', inplace=True)

/tmp/ipython-input-1299628135.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['genres'].fillna('None', inplace=True)

In [13]:
# memperbaiki data tidak valid berupa nilai negatif pada kolom imdb_score dengan menggunakan fungsi nilai mutlak
df.loc[~df['imdb_score'].between(0, 10), 'imdb_score'] = np.abs(df['imdb_score'])

In [15]:
# Memperbaiki data tidak valid pada kolom 'duration'
# 1. Ubah nilai-nilai yang tidak valid menjadi NaN agar bisa diabaikan saat perhitungan.
df.loc[df['duration'] <= 10, 'duration'] = np.nan
df.loc[df['duration'] > 600, 'duration'] = np.nan

# 2. Menghitung median dari kolom 'duration' dengan mengabaikan nilai NaN
median_duration = df['duration'].median()
print(f"The median movie duration is: {median_duration} minutes")

# 3. Mengisi nilai NaN dengan median yang sudah dihitung
df['duration'].fillna(median_duration, inplace=True)

The median movie duration is: 144.0 minutes

/tmp/ipython-input-2351000880.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['duration'].fillna(median_duration, inplace=True)

In [16]:
# Menampilkan data setelah dilakukan data cleaning
print(df.isnull().sum())

color                   10
director_name            0
duration                 0
gross                    0
genres                   0
movie_title              0
title_year               0
language                 0
country                  0
budget                   0
imdb_score               0
actors                   0
movie_facebook_likes     0
dtype: int64

In [17]:
print(df)

     color      director_name  duration        gross  \
0    Color    Martin Scorsese     240.0  116866727.0
1    Color        Shane Black     195.0  408992272.0
2   color   Quentin Tarantino     187.0   54116191.0
3    Color   Kenneth Lonergan     186.0      46495.0
4    Color      Peter Jackson     186.0  258355354.0
..     ...                ...       ...          ...
93   Color        Tony Gilroy     135.0  113165635.0
94   Color      Steve McQueen     134.0   56667870.0
96   Color    Paul Greengrass     134.0  107100855.0
97   Color         David Ayer     134.0   85707116.0
98   Color     Clint Eastwood     144.0   47034272.0

                                  genres                          movie_title  \
0           Biography|Comedy|Crime|Drama              The Wolf of Wall Street
1                Action|Adventure|Sci-Fi                           Iron Man 3
2   Crime|Drama|Mystery|Thriller|Western                    The Hateful Eight
3                                  Drama                             Margaret
4                      Adventure|Fantasy  The Hobbit: The Desolation of Smaug
..                                   ...                                  ...
93             Action|Adventure|Thriller                    The Bourne Legacy
94               Biography|Drama|History                     12 Years a Slave
96              Biography|Drama|Thriller                     Captain Phillips
97                      Action|Drama|War                                 Fury
98         Biography|Drama|Music|Musical                          Jersey Boys

    title_year language country       budget  imdb_score  \
0         2013  English     USA  100000000.0         8.2
1         2013  English     USA  200000000.0         7.2
2         2015  English     USA   44000000.0         7.9
3         2011  English     usa   14000000.0         6.5
4         2013  English     USA  225000000.0         7.9
..         ...      ...     ...          ...         ...
93        2012  English     USA  125000000.0         6.7
94        2013  English     USA   20000000.0         8.1
96        2013  English     USA   55000000.0         7.9
97        2014  English     USA   68000000.0         7.6
98        2014  English     USA   40000000.0         6.9

                                               actors  movie_facebook_likes
0   Leonardo DiCaprio,Matthew McConaughey,Jon Favreau                138000
1           Robert Downey Jr.,Jon Favreau,Don Cheadle                 95000
2           Craig Stark,Jennifer Jason Leigh,Zoë Bell                114000
3         Matt Damon,Kieran Culkin,John Gallagher Jr.                     0
4               Aidan Turner,Adam Brown,James Nesbitt                 83000
..                                                ...                   ...
93              Jeremy Renner,Scott Glenn,Stacy Keach                 31000
94       Quvenzhané Wallis,Scoot McNairy,Taran Killam                 83000
96             Tom Hanks,Chris Mulkey,Michael Chernus                 65000
97                 Brad Pitt,Logan Lerman,Jim Parrack                 82000
98      Johnny Cannizzaro,Steve Schirripa,Scott Vance                 16000

[84 rows x 13 columns]

**DATA TRANSFORMATION**

Pada bagian ini akan dilakukan proses data transformation dengan langkah-langkah sebagai berikut:
1. Standarisasi kolom color dan country
2. Konversi beberapa kolom menjadi tipe data numerik
3. Splitting pada kolom genres

In [18]:
# Membersihkan kolom 'color' dengan menstandarisasi semua nilai menjadi huruf kecil
df['color'] = df['color'].str.lower()

# Membersihkan kolom country dengan menstandarisasi kapitalisasi huruf
df['country'] = df['country'].str.upper()

In [19]:
# Mengubah kolom menjadi numerik
numeric_cols = ['duration', 'gross', 'title_year', 'budget', 'imdb_score']
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [20]:
# Splitting kolom 'genres'

# 1. Split kolom 'genres' yang dipisahkan oleh tanda '|' menjadi beberapa kolom di DataFrame baru
genre_split_df = df['genres'].str.split('|', expand=True)

# 2. Membuat nama kolom baru secara berurutan seperti 'genre_1', 'genre_2', dst.
new_column_names = [f'genre_{i+1}' for i in range(genre_split_df.shape[1])]
genre_split_df.columns = new_column_names

# 3. Gabungkan kolom-kolom genre yang baru dibuat dengan DataFrame asli
df_with_genres = pd.concat([df, genre_split_df], axis=1)
df_with_genres.fillna('None', inplace=True)

# Menampilkan hasil
print(df_with_genres.head())

    color      director_name  duration        gross  \
0   color    Martin Scorsese     240.0  116866727.0
1   color        Shane Black     195.0  408992272.0
2  color   Quentin Tarantino     187.0   54116191.0
3   color   Kenneth Lonergan     186.0      46495.0
4   color      Peter Jackson     186.0  258355354.0

                                 genres                          movie_title  \
0          Biography|Comedy|Crime|Drama              The Wolf of Wall Street
1               Action|Adventure|Sci-Fi                           Iron Man 3
2  Crime|Drama|Mystery|Thriller|Western                    The Hateful Eight
3                                 Drama                             Margaret
4                     Adventure|Fantasy  The Hobbit: The Desolation of Smaug

   title_year language country       budget  imdb_score  \
0        2013  English     USA  100000000.0         8.2
1        2013  English     USA  200000000.0         7.2
2        2015  English     USA   44000000.0         7.9
3        2011  English     USA   14000000.0         6.5
4        2013  English     USA  225000000.0         7.9

                                              actors  movie_facebook_likes  \
0  Leonardo DiCaprio,Matthew McConaughey,Jon Favreau                138000
1          Robert Downey Jr.,Jon Favreau,Don Cheadle                 95000
2          Craig Stark,Jennifer Jason Leigh,Zoë Bell                114000
3        Matt Damon,Kieran Culkin,John Gallagher Jr.                     0
4              Aidan Turner,Adam Brown,James Nesbitt                 83000

     genre_1    genre_2  genre_3   genre_4  genre_5
0  Biography     Comedy    Crime     Drama     None
1     Action  Adventure   Sci-Fi      None     None
2      Crime      Drama  Mystery  Thriller  Western
3      Drama       None     None      None     None
4  Adventure    Fantasy     None      None     None

In [21]:
# Menyimpan hasil
df_with_genres.to_csv('/content/movie_dataset_cleaned.csv', index=False)